<nav>
	<div class="nav-wrapper">
		<a href="#" class="brand-logo"><i class="fa fa-paw" aria-hidden="true"></i> Doggie Dates</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/logout">Logout</a></li>
		</ul>
	</div>
</nav>