{{!-- Matches Page --}}
<h2 style="text-align: center">You've Got Matches!</h2>
<ul class="collection">
    <li class="collection-item avatar">
        <img src="/assets/img/corgi.jpg" alt="" class="circle">
        <span class="title">Dog's Name</span>
        <p>age <br>
            energy level
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
    </li>

    <li class="collection-item avatar">
        <img src="https://static.pexels.com/photos/356378/pexels-photo-356378.jpeg" alt="" class="circle">
        <span class="title">Dog's Name</span>
        <p>age <br>
            energy level
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
    </li>

    <li class="collection-item avatar">
        <img src="http://www.adweek.com/files/imagecache/node-blog/sa_article/dog_image_0.jpg" alt="" class="circle">
        <span class="title">Dog's Name</span>
        <p>age <br>
            energy level
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
    </li>

    <li class="collection-item avatar">
        <img src="http://ghk.h-cdn.co/assets/16/11/gettyimages-500937971.jpg" alt="" class="circle">
        <span class="title">Dog's Name</span>
        <p>age <br>
            energy level
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
    </li>

    <li class="collection-item avatar">
        <img src="https://fundraising.co.uk/wp-content/uploads/2017/01/dog-1611026_640.jpg" alt="" class="circle">
        <span class="title">Dog's Name</span>
        <p>age <br>
            energy level
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
    </li>
</ul>
