{{!-- sidebar navigation --}}

<ul id="slide-out" class="side-nav fixed">
      <div class="sidenav-header">
        <a href="#" class="brand-logo"><i class="fa fa-paw" aria-hidden="true"></i> Doggie Dates</a>
      </div>
    
    <li><div class="user-view">
      <div class="background">
        <img src="/assets/img/sidenav-grass.jpg" style="">
      </div>
      <a href="#"><img class="circle" src="/assets/img/corgi.jpg"></a>
      <a href="#"><span class="white-text name">Dog's Name</span></a>
      <a href="#"><span class="white-text email">email@gmail.com</span></a>
    </div></li>
    <li><a href="/matches"><i class="material-icons">pets</i>Matches</a></li>
    <li><a href="/preferences"><i class="material-icons">mode_edit</i>Pet Preferences</a></li>
    <li><a href="/profile"><i class="material-icons">account_box</i>Profile</a></li>
</ul>