{{!-- sidebar navigation --}}

<ul id="slide-out" class="side-nav">
    <li><div class="user-view">
      <div class="background">
        <img src="images/sidenav-grass.jpg">
      </div>
      <a href="#"><img class="circle" src="{{this.image}}"></a>
      <a href="#"><span class="white-text name">{{dog_name}}</span></a>
      <a href="#"><span class="white-text email">{{email}}</span></a>
    </div></li>
    <li><a href="/profile"><i class="material-icons">account_box</i>Profile</a></li>
    <li><a href="/preferences"><i class="material-icons">assignment</i>Pet Preferences</a></li>
    <li><a href="/matches"><i class="material-icons">pets</i>Matches</a></li>
</ul>