<div class="dd-login-signup-container">
    <h3>Login Form</h3>
    <form class="login">
        <div class="input-field">
            <input id="email-input" type="email">
          	<label for="email">Email</label>
        </div>
        <div class="input-field">
            <input id="password-input" type="password">
          <label for="password">Password</label>
        </div>
        <button type="submit" class="dd-sign-up-login-button btn btn-default btn-large">Login</button>
    </form>
    <br />
    <p>Or sign up <a href="/">here</a></p>
</div>