<div class="dd-login-signup-container">
    <h3>Login Form</h3>
    <form class="Login" action="/signin" method="POST">
        <div class="input-field">
            <input id="email-input" name="email" type="email">
          	<label for="email">Email</label>
        </div>
        <div class="input-field">
            <input id="password-input" name="password" type="password">
          <label for="password">Password</label>
        </div>

        <button type="submit" class="dd-sign-up-login-button btn btn-default btn-large">Login</button>
    </form>
    <a href="/auth/facebook">Login with Facebook</a>
    <p>Or sign up <a href="/">here</a></p>
</div>