{{> header-logged-in}}
<div class="dd-login-signup-container">
<h1>Your Dog's Info</h1>
<p></p>

<form action="/profile-form-submit" method="post" id="dog_form">
	Dog name:<br>
	<input type="text" name="dog_name" value="">
	<br>
	Dog photo: (url)<br>
	<input type="url" name="image" value="">
	<br><br>
	Location: (zip code or city state)<br>
	<input type="text" name="zip_code" value="">
	<br><br>
	Birthdate:<br>
	<input type="text" name="dob" value="" class="datepicker">
	<br><br>
{{!-- 	Birthdate:<br>
	<input type="text" name="dob">
	<br><br> --}}
	Energy level:<br>
	<select name="energy_level">
	  <option value="low">Low</option>
	  <option value="medium">Medium</option>
	  <option value="high">High</option>
	  <option value="extra">Extra High</option>
	</select>
	<br><br>
	Sex:<br>
	<select name="sex">
	  <option value="male">Male</option>
	  <option value="female">Female</option>
	</select>
	<br><br>
	Size:<br>
	<select name="size">
		<option value="xsmall">X-Small</option>
		<option value="small">Small</option>
		<option value="medium">Medium</option>
		<option value="large">Large</option>
		<option value="xlarge">X-Large</option>
	</select>
	<br><br>
	<input class="btn btn-default" type="submit" value="Submit">
	<br><br>
</form> 
</div>