<div class="dd-login-signup-container">
    <h3>Sign Up</h3>
    <form class="signup" action="/" method="POST">
        <div class="input-field">
            <input id="email-input" name="email" type="email">
            <label for="email">Email</label>
        </div>
        <div class="input-field">
            <input id="password-input" name="password" type="password">
            <label for="password">Password</label>
        </div>
        {{#if errorArray}}
        <ul>

        {{#each errorArray}}
            <li style="color: #d32f2f;  " role="alert">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <span class="sr-only">Error:</span> <span class="msg">{{this.msg}}</span>
            </li>
        {{/each}}
       
            
        </ul>
        {{/if}}
        
        <button type="submit" class="dd-sign-up-login-button btn btn-default btn-large">Sign Up</button>
    </form>
    <a href="/auth/facebook">Login with Facebook</a>
    <br />
    <p>Or log in <a href="/login">here</a></p>
</div>