<div class="dd-login-signup-container">
    <h3>Sign Up</h3>
    <form class="signup">
        <div class="input-field">
            <input id="email-input" type="email">
          	<label for="email">Email</label>
        </div>
        <div class="input-field">
            <input id="password-input" type="password">
          <label for="password">Password</label>
        </div>
        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>
        <button type="submit" class="dd-sign-up-login-button btn btn-default btn-large">Sign Up</button>
    </form>
    <a href="/auth/facebook">Login with Facebook</a>
    <br />
    <p>Or log in <a href="/login">here</a></p>
</div>