@import url('components/footer.css');
@import url('components/header.css');
@import url('components/login.css');
@import url('components/matches.css');
@import url('components/profile.css');
@import url('components/new-profile.css');
@import url('components/registration.css');
@import url('components/sidenav.css');
@import url('components/survey.css');
@import url('components/dog_results.css');
@import url('overrides.css');

/*General Styles*/
html, body{
	height: 100%;
	padding: 0;
	margin: 0;
}

h2{
	font-family: 'Eczar', serif;
	text-align: center; 
	color: white; 
	text-shadow: 2px 2px 6px #0d47a1;
}

h3{
	font-family: 'Eczar', serif;
	text-align: left; 
	color: #26a69a;
    font-size: 54px;
}
h4{
	font-family: 'Eczar', serif;
	text-align: left; 
	color: steelblue;
    font-size: 54px;
}
.dd-container{
	min-height: 100%;
	margin-bottom: -50px;

}

.dd-doggie-background{
	background: url("../img/cover_dog.jpg") no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -1;
	top:0;
}
.dd-matches-container{
	margin-left: 330px;
	padding-bottom: 80px;
}

.dd-icon-text-align{
	vertical-align: -0.4rem; padding-right: 5px;"
}
