@import url('components/footer.css');
@import url('components/header.css');
@import url('components/login.css');
@import url('components/matches.css');
@import url('components/profile.css');
@import url('components/new-profile.css');
@import url('components/registration.css');
@import url('components/sidenav.css');
@import url('components/survey.css');
@import url('overrides.css');

/*General Styles*/
html, body{
	height: 100%;
	padding: 0;
	margin: 0;
}
.dd-container{
	min-height: 100%;
	margin-bottom: -75px;
}

